<header class="row col-sm-12" [ngClass]="{'scrolled': isScrolled}">
 <div class="col-sm-6">
     <div class="col-sm-4 offset-sm-1">
        <img src="../../../assets/img/logo.png" alt="logo">
     </div>
 </div>
 <div class="col-sm-6 d-flex align-items-center">
    <div class="d-flex justify-content-between col-sm-10">
     <div class="d-flex align-items-center col-sm-2" *ngFor="let item of headerElements">
        {{item}}
     </div>
    <div class="col-sm-6 d-flex justify-content-between">
        <button type="button">
            Login
        </button>
        <button type="button">
            Get Started
        </button>
    </div>
    </div>
   </div>
</header>
 