$lightBackground: #FCFCFF;
$clrWhite: #FFFFFF;
$clrBlack: #000000;
$clrPrimary: #663399;
$clrSecondary:#9F62C9;
$textClrPrimary: #222222;
$textClrSecondary: #999999;
$shadowClr: #00000033;

/* mixin for  background color*/

@mixin bg-clr($bv-color) {
  background-color: $bv-color;
}

/* mixin for text color */
@mixin text-elements($txt-color, $fontsize) {
  color: $txt-color;

  @if $fontsize {
    font-size: $fontsize;
  }
}

/* mixin for border radius */

@mixin border-radius($top, $right, $bottom, $left) {
  -webkit-border-radius: $top $right $bottom $left;
  -moz-border-radius: $top $right $bottom $left;
  border-radius: $top $right $bottom $left;
}

@mixin border-single-radius($rad) {
  -webkit-border-radius: $rad;
  -moz-border-radius: $rad;
  border-radius: $rad;
}


/* box-shadow generator
    $clr- in RGBA format
 */

@mixin box-shadows($hset, $vset, $blur, $spread, $clr) {
  -webkit-box-shadow: $hset $vset $blur $spread $clr;
  -moz-box-shadow: $hset $vset $blur $spread $clr;
  box-shadow: $hset $vset $blur $spread $clr;
}



// text-alignments
.text-center {
  text-align: center !important;
}

button {
  border: none;
  outline: none;
  @extend .cursor-pointer;
}

.cursor-pointer {
  cursor: pointer;
}




// backgrounds
%backrgound-elements {
  background-repeat: no-repeat;
  background-size: cover;
}
